body {
  background-color: #282c34;
}

#nav {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px rgb(120, 120, 120);
  background-color: #282c34;
}

input {
  padding-top: 12px;
  padding-bottom: 12px;
}

#select {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#action-bar {
  padding-top: 5px;
  padding-bottom: 5px;
  /*width: 100%;*/
  z-index: 10;
  background-color: #282c34;
  font-size: 11px;
  text-transform: lowercase;
}

#empty-result, #empty-search {
  margin-top: 20%;
  color: white;
}

.list {
  margin-top: 50px;
  /*margin-bottom: 40px;*/
}

.mutual-fund {
  border-bottom: solid 1px rgb(150, 150, 150);
}

.card {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  cursor: pointer;
}

.card-heading {
  font-size: 13px;
  text-align: left;
}

.tags {
  font-size: 10px;
  padding-top: 0px;
}

.tags > span {
  padding-top: 0px;
  margin-right: 10px;
}

.risk {
  text-align: left;
  font-size: 10px;
}

.moderate {
  color: yellow;
}

.high {
  color: red;
}

.low {
  color: green;
}

.sort-by > span, .sort-order > span {
  color: white;
}

.sort-by:last-child, .sort-order:last-child {
}

.selected-fund {
  background-color: blue;
}

.comparision {
  margin-top: 30px;
  padding-left: 20px
}

table {
  text-align: center;
  background-color: white;
  border-radius: 2px;
  width: 100%;
  max-width: 680px;
  overflow-x: scroll; 
  table-layout: fixed;
  display: block;
}

th {
  min-width: 100px;
}

.basic-details > div > span, .holdings > div > span, .sectors > div > span {
  text-align: left;
  color: white;
  margin-bottom: 10px;
}

#action-bar > div {}

#compare-button, #list-button {
  position: fixed;
  bottom: 25px;
  right: 15px;
  z-index: 10;
}

@media (max-width: 720px) {
  #compare-button {
    right: 15px;
  }

  .comparision {
    margin-top: 30px;
  }

  /*.list {
    max-height: 300px;
    overflow-y: scroll;
  }*/
}

@media (min-width: 721px) {
  #compare-button, #list-button {
    display: none;
  }

  /*.list {
    max-height: 300px;
    overflow-y: scroll;
  }*/
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.investment {
  border: solid 1px rgb(210, 210, 210);
  border-radius: 2px;
  /*border-bottom: solid 1px rgb(210, 210, 210);*/
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar { 
    display: none; 
}
